name: Habitree Expo App Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  setup:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'  # Wähle die Node.js Version, die du benötigst

    - name: Install dependencies
      run: |
        cd src/habitree
        npm install expo  # Installiert Expo beim ersten Mal
        npx expo install --fix  # Installiert und aktualisiert alle benötigten Packages

    - name: Start Expo app
      run: |
        cd src/habitree
        npx expo start --tunnel --go --clear  # Startet Expo im Tunnel-Modus, öffnet automatisch den Browser und löscht den Cache
